.sd-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .sd-col {
    max-width: 300px; /* adjust as needed */
    margin: 10px;
    text-align: center;
  }
